<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TariC<code>&lt;/&gt;</code>des</title>
  </head>

  <body>
    <section>
      <article>
        <h4>HELLO THERE!</h4>
        <h1>I'M <span>IKADOI Tari</span></h1>
        <p>
          I am a self-taught front end web Developer based in Brass Island,
          looking for a role in an exciting company, I <br /> focus on writing accessible
          HTML, using modern CSS practices and JavaScript.
        </p>
        <button>About Me </button>
      </article>
    </section>
    <section id="about--section">
      <h1 class="title">me</h1>
      <div class="item--container">
        <div class="item1">
          <p>Name: <span class="yellowText"> Ikadoi Godbless</span></p>
          <p>
            Qualification: <span class="yellowText">
              B.Sc Computer Science</span
            >
          </p>
          <p>Post: <span class="yellowText"> Front-End Web Developer</span></p>
          <p>Language: <span class="yellowText"> English</span></p>
          <button
            >Download CV <img
              src="./icons/icons8-mail-100.png"
              alt=""
            /></button
          >
        </div>
        <div class="item2">
          <div class="box box1">
            <h1><span class="yellowText">2+</span></h1>
            <p>Years of experience</p>
          </div>
          <div class="box box2">
            <h1><span class="yellowText">100+</span></h1>
            <p>Project Completed</p>
          </div>
          <div class="box box3">
            <h1><span class="yellowText">150+</span></h1>
            <p>Happy clients</p>
          </div>
          <div class="box box4">
            <h1><span class="yellowText">10+</span></h1>
            <p>Awards won</p>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio--section">
      <h1 class="headerText">My</h1>
      <div class="recentWork">
        <div class="area">
          <div class="img--content">
            <img src="../../Pictures/Screenshots/Screenshot (41).png" alt="" />
          </div>
          <div class="row--items">
            <a href="./interior-design.html" class="live">Live Url</a>
            <a href="" class="code">View Code</a>
          </div>
        </div>
        <div class="area">
          <div class="img--content">
            <img src="../../Pictures/Screenshots/Screenshot (46).png" alt="" />
          </div>
          <div class="row--items">
            <a href="./music-page.html" class="live">Live Url</a>
            <a href="" class="code">View Code</a>
          </div>
        </div>
        <div class="area">
          <div class="img--content">
            <img src="../../Pictures/Screenshots/Screenshot (51).png" alt="" />
          </div>
          <div class="row--items">
            <a href="./pepsi-website.html" class="live">Live Url</a>
            <a href="" class="code">View Code</a>
          </div>
        </div>
        <div class="area">
          <div class="img--content">
            <img src="../../Pictures/Screenshots/Screenshot (60).png" alt="" />
          </div>
          <div class="row--items">
            <a href="../web_design/Awesome-page.html" class="live">Live Url</a>
            <a href="" class="code">View Code</a>
          </div>
        </div>
        <div class="area">
          <div class="img--content">
            <img src="../../Pictures/Screenshots/Screenshot (63).png" alt="" />
          </div>
          <div class="row--items">
            <a href="./education-site.html" class="live">Live Url</a>
            <a href="" class="code">View Code</a>
          </div>
        </div>
        <div class="area">
          <div class="img--content">
            <img src="../../Pictures/Screenshots/Screenshot (70).png" alt="" />
          </div>
          <div class="row--items">
            <a href="./shortly.html" class="live">Live Url</a>
            <a href="" class="code">View Code</a>
          </div>
        </div>
      </div>
    </section>
    <section id="contact--section">
      <h1 id="headerText">Me</h1>
      <div class="file">
        <div class="contact--info">
          <h2>Contact Info</h2>
          <div class="box--icons">
            <img src="./icons/icons/icons8-mail-contact50 (1).png" alt="" />
            <p>tariikadoi@gmail.com</p>
          </div>
          <div class="box--icons">
            <img src="./icons/icons/icons8-phone-50.png" alt="" />
            <p>+2349077944324</p>
          </div>
          <div class="box--icons">
            <img src="./icons/icons/icons8-location-update-64.png" alt="" />
            <p>Brass Island</p>
          </div>
        </div>
        <div class="contact--details">
          <form>
            <input type="text" name="name" placeholder="Name" id="" />
            <input type="email" name="Email" placeholder="Email" id="" />
            <input type="text" placeholder="Project" />
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"
            ></textarea>
            <div class="btn">
              <a href="#"
                >Send<a>
                  <img src="./icons/icons/icons8-email-send-30.png" alt="" />
                </a>
              </a>
            </div>
          </form>
          <div class="media--icons">
            <a href="#"
              ><img src="./icons/icons/icons8-instagram-64.png" alt="" /></a
            >
            <a href="#"
              ><img src="./icons/icons/icons8-facebook-64.png" alt="" /></a
            >
            <a href="#"
              ><img
                src="./icons/icons/icons8-linkedin-circled-64.png"
                alt=""
              /></a
            >
            <a href="#"
              ><img
                src="./icons/icons/icons8-twitter-circled-50.png"
                alt=""
              /></a
            >
            <a href="#"
              ><img src="./icons/icons/icons8-github-64.png" alt="" /></a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
